.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--background-img);
}
.container {
  width: 50%;
  height: 42%;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  padding: 0;
}
.welcome {
  width: 50%;
  height: 100%;
  background-color: var(--todo-blue);
  color: var(--white);
  border-radius: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid dimgray;
  border-top: 1px solid dimgray;
  border-left: 1px solid dimgray;
}
.logo {
  width: 150px;
}
.content {
  width: 50%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid dimgray;
  border-top: 1px solid dimgray;
  border-right: 1px solid dimgray;
}
.content h2 {
  font-family: var(--heading);
  font-size: 1.65rem;
}
.error {
  color: brown;
  font-size: 0.8rem;
}
.input_container {
  width: 90%;
  box-sizing: border-box;
}
.input_div {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
}
.input_container label {
  font-weight: 500;
  line-height: 2;
  font-size: 1rem;
}
.email {
  width: 100%;
  border: none;
  border-bottom: 1px solid dimgrey;
  line-height: 2;
  font-size: 1rem;
}
.email:focus {
  outline: none;
  border-bottom: 3px solid dimgrey;
}
.reset_btn {
  width: 90%;
  border-radius: 20px;
  background-color: var(--todo-blue);
  color: var(--white);
  height: 40px;
  border: none;
  margin-top: 10px;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}
.reset_btn:hover {
  background-color: var(--todo-blue-hover);
}
.reset_btn:focus {
  outline: none;
  border: 3px solid rgb(0, 53, 212);
}
.reset_btn:disabled {
  background-color: var(--todo-blue-disabled);
  cursor: not-allowed;
}
.redirect_cont {
  width: 90%;
}
.redirect_link {
  width: 100%;
  text-align: right;
  font-size: 0.9rem;
}
.redirect_btn {
  color: var(--todo-blue);
  font-size: 0.9rem;
  cursor: pointer;
}
.redirect_btn:hover {
  color: var(--todo-blue-hover);
  text-decoration: underline;
}
.redirect_margin {
  margin-bottom: 3px;
}
.modal {
  margin: 16px 16px;
}
.modalPara {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.modalButton {
  width: 30%;
  border-radius: 20px;
  background-color: var(--todo-blue);
  color: var(--white);
  height: 40px;
  border: none;
  margin-top: 10px;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}

.modalButton:hover {
  background-color: var(--todo-blue-hover);
}
.modalButton:focus {
  outline: none;
  border: 3px solid rgb(0, 53, 212);
}
@media (max-width: 992px) {
  .container {
    width: 70%;
  }
  .email {
    font-size: 85%;
  }
  .logo {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 50%;
    height: 60%;
    flex-direction: column;
  }
  .welcome {
    height: 50%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    border: none;
    border-left: 1px solid dimgray;
    border-top: 1px solid dimgray;
    border-right: 1px solid dimgray;
  }
  .content {
    height: 50%;
    width: 100%;
    padding: 7px 15px;
    border-radius: 0 0 20px 20px;
    border: none;
    border-bottom: 1px solid dimgray;
    border-left: 1px solid dimgray;
    border-right: 1px solid dimgray;
  }
  .welcome {
    padding: 20px;
  }
  .email {
    font-size: 100%;
  }
  .reset_btn {
    height: 30px;
  }
  .modalButton {
    width: 40%;
  }
}
@media (max-width: 576px) {
  .container {
    width: 60%;
  }
  .modalButton {
    width: 50%;
    height: 35px;
  }
}
@media (max-width: 375px) {
  .container {
    width: 70%;
  }
}
