.modal_body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.errorHeader {
  background-color: darkred;
}
.errorCont {
  text-align: center;
}
@media (max-width: 768px) {
  .modal_body {
    padding: 8px;
  }
}
