.task_modal_body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error {
  color: brown;
  font-size: 0.8rem;
  margin-bottom: 5px;
}
.input_container {
  width: 80%;
  box-sizing: border-box;
}
.input_div {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
}
.input_container label {
  font-weight: 500;
  line-height: 2;
  font-size: 1rem;
  display: block;
  width: 100%;
  text-align: left;
}
.task {
  width: 100%;
  border: none;
  border-bottom: 1px solid dimgrey;
  line-height: 2;
  font-size: 1rem;
}
.task:focus {
  outline: none;
  border-bottom: 3px solid dimgrey;
}
.add_btn {
  width: 50%;
  border-radius: 20px;
  background-color: var(--todo-blue);
  color: var(--white);
  height: 40px;
  border: none;
  margin-top: 10px;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}
.add_btn:hover {
  background-color: var(--todo-blue-hover);
}
.add_btn:focus {
  outline: none;
  border: 3px solid rgb(0, 53, 212);
}
.add_btn:disabled {
  background-color: var(--todo-blue-disabled);
  cursor: not-allowed;
}
.charactersCont {
  text-align: right;
  font-size: 0.9rem;
  margin: 5px 0;
}
@media (max-width: 992px) {
  .task {
    font-size: 85%;
  }
  .charactersCont {
    font-size: 85%;
  }
}

@media (max-width: 768px) {
  .task_modal_body {
    padding: 8px;
  }
  .input_container {
    width: 85%;
  }
  .task {
    font-size: 100%;
  }
  .charactersCont {
    font-size: 100%;
    margin-bottom: 0;
  }
  .add_btn {
    height: 30px;
  }
}
