html{

  /*Breakpoints for devices*/
  --breakpoint-xs: 375px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;

  /* colors*/
  --todo-blue: #2272F1;
  --white: #FFFFFF;

  /*background image*/
  --background-img: url('./assets/backround.PNG');
  
  /*heading*/
  --heading: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media(max-width: 768px){
  html{
    font-size: 70% !important;
  }
}